.outerform {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
label{
  font-size:medium;
  font-weight:600;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.description {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  line-height: 10px;
  text-align: center;
  gap: 3px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border: 1.5px solid rgb(255, 255, 255);
  padding: 30px;
  width: 60%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inputForm {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  width: 70%;
  padding-left: 10px;
  height: 40px;
  margin-top:3px ;
}

.input:focus {
  outline: none;
  border: 2px solid green;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #00990a;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #179b00;
}
